.analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 80px;
}

.title {
  composes: text-base-regular from global;
  color: var(--color-black);
}

.title_bold {
  composes: text-base-bold from global;
}

.empty {
  composes: text-large-regular from global;
  color: var(--color-primary);
}
